# Assignment #1

Do all the questions.

In the space below define a variable `x` and store the number `10`.

In [1]:
def print_reverse(lst):
    for item in reversed(lst):
        print(item)

In [2]:
print_reverse([1, 2, 3, 4, 5])

5
4
3
2
1

In [1]:
x = 10
print(x)

10

In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(10, 5))

df

/tmp/ipykernel_19862/3415592393.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

          0         1         2         3         4
0 -0.213050 -1.905984  0.208215 -0.433767 -0.114786
1 -0.850769  0.127130 -1.562019  0.212077 -1.042827
2 -0.271606 -0.181921  1.574458 -1.398645  0.584515
3  0.151814 -0.858948  0.583758  0.469787 -0.623160
4 -0.246419 -0.229681  3.761829 -0.451005 -1.192267
5 -0.209694  0.235071 -0.574996 -0.509835  0.294135
6 -0.427895 -1.803308  0.785665  0.773477 -0.897776
7  0.445080 -0.256281  1.023284 -0.735889  1.325795
8  2.154311 -2.517609 -1.154843 -0.910056 -0.170380
9 -0.397924  1.366058  1.695537  1.879611  1.432049

You can check if pandas is loaded by trying to print its version. If pandas is loaded, this will print the version number. If it's not loaded, it will raise an error.

Here is the Python code to do this:

In [2]:
try:
    import pandas as pd
    print(pd.__version__)
except ImportError:
    print("pandas is not installed")

2.2.0



This code first tries to import pandas and print its version. If the import fails, it catches the `ImportError` and prints a message saying that pandas is not installed.

In [3]:
def add_two_numbers(x, y):
    return x + y

add_two_numbers(1, 2)

3

In [5]:
def add_three_numbers(x, y, z):
    return x + y + z


def check_if_string_is_palindrome(s):
    return s == s[::-1]

print(check_if_string_is_palindrome("dad"))

True

You can create a scatter plot of two pandas DataFrame columns using the `plot.scatter()` function. Here's an example:

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Assuming df is your DataFrame and 'col1' and 'col2' are the columns you want to plot
df.plot.scatter(x='col1', y='col2')

plt.show()



Replace `'col1'` and `'col2'` with the names of your columns. This code will create a scatter plot with 'col1' values on the x-axis and 'col2' values on the y-axis. The `plt.show()` function is used to display the plot.